@import "../utils/variables";

.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: #fff;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border-radius: 3rem;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 15px 2px #C5C5C5;
}
    .explore-btn:hover {
        background: linear-gradient(to top, $primary-color, $secondary-color), lighten($primary-color, 25%), lightnen($secondary-color, 25%);
    }
.order-btn {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 10rem;
    height: 3rem;
    color: #fff;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    border: none;
    border-radius: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 15px 2px #d9d9d9;
}