@import "../utils/variables";

.fa-heart {
    cursor: pointer;
}
.fa-heart:hover:before {
    transition: all 500ms ease-in-out;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}