@import "../utils/variables";

.full-heart {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.full-heart:before {
    color: transparent;
    background-image: linear-gradient(to top, $primary-color, $secondary-color);
    
    -webkit-background-clip: text;
}
.empty-heart {
    position: absolute;
    opacity: 1;
    cursor: pointer;
}
.heart-wrapper:hover .empty-heart{
    animation: fade 1s both;
}
.heart-wrapper:hover .full-heart {
    animation: appear 1s both;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
                opacity: 0;
    }
} 