@import "../utils/variables";

.loader-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $location-wrapper-bg-color;
    width: 100vw;
    height: 97vh;
    animation: anim 1.5s forwards;
    z-index: 100;
    opacity: 0.6;
}

 @keyframes anim {
     0% {
         z-index: 100;
         opacity: 0.6;
         visibility: visible;
     }
     99%{
         opacity: 0.6;
     }
     100% {
         opacity: 0;
         visibility: hidden;
         z-index: 0;
     }
 }
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid $primary-color;
    border-bottom: 16px solid $secondary-color;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1.5s linear;
    opacity: 1;
}

  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% { transform: rotate(360deg);}
  }